<template>
    <div>
        <div style="display: flex;justify-content: space-between; margin-top: 150px;">
            <div></div>
            <div class="login_img">
                <img src="https://hanoimoi.com.vn/Uploads/Album/20170329/64063508-7cc9-4c39-b637-ed3429e75104.jpg">
            </div>
            <div style="width: 500px; border-radius: 2px;">
                <div style="padding: 20px 30px;">
                    <div>
                        <h2 style="text-align: center; font-size: 30px; padding-bottom: 22px;">Đăng nhập</h2>
                        <p style="text-align: center; font-size: 22px; padding-bottom: 22px; color: #939393;">Vui lòng nhập
                            thông tin tài khoản để đăng nhập</p>
                        <form>
                            <div style="padding-bottom: 22px;">
                                <label>Số điện thoại<span class="text-danger">*</span></label>
                                <input type="tel" placeholder="Nhập số điện thoại" v-model="users.phone"
                                    style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                            </div>
                            <div style="padding-bottom: 30px;">
                                <label>Mật khẩu<span class="text-danger">*</span></label>
                                <input type="password" placeholder="Nhập mật khẩu" v-model="users.password"
                                    style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                            </div>
                            <b-button style="width: 100%; margin-bottom: 22px;" variant="outline-success"
                                @click="login(users)">Đăng nhập</b-button>
                            <div class="text-center">
                                <b-icon style="margin-right: 15px;" icon="facebook"></b-icon>
                                <b-icon style="margin-right: 15px;" icon="instagram"></b-icon>
                                <b-icon style="margin-right: 15px;" icon="github"></b-icon>
                                <b-icon icon="google"></b-icon>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
import Swal from 'sweetalert2';
export default {
    data() {
        return {
            users: {
                phone: '',
                password: ''
            }
        };
    },
    methods: {
        ...mapActions('login', ["LoginUsers"]),
        validator() {
            let mappingErrorName = {
                phone: 'Số điện thoại',
                password: 'Mật khẩu'
            }
            for (let key in mappingErrorName) {
                if (this.users[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
                if (key == 'password') {
                    if (this.users[key].length <= 6) {
                        Swal.fire(mappingErrorName[key] + ` nhiều 6 chữ số`, '', 'warning')
                        return false
                    }
                    continue;
                }
            }
            return this.isPhoneNumber()
        },
        async login() {
            if (!this.validator()) return;
            let response = await this.LoginUsers(this.users)
            if (response.data.code === 0) {
                let token = response.data.token
                localStorage.setItem('token', JSON.stringify(token))
                this.$router.push({ name: 'admin.home' })
            }
            else {
                Swal.fire('Tài khoản hoặc mật khẩu không đúng')
            }

        },
        isPhoneNumber() {
            if (!/(((\+|)84)|0)(3|5|7|8|9)+([0-9]{8})\b/.test(this.users.phone)) {
                Swal.fire( 'Số điện thoại không đúng định dạng')
                return false
            }
            return true;
        }
    },

};
</script>
<style scoped>
/*table - mobile*/
@media (max-width: 1023px) {

}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
    .login_img{
        display: none;
    }
}

/*mobile*/
@media (max-width:739px) {
    .login_img{
        display: none;
    }
}
</style>