<template>
    <div class="home_body" style="background-color: #f4f6f9;height: 980px;">
        <div class="header navbar " style="color:#fff; background-color: #18a55b;">
            <ul class="nav_pc" style="display: flex; list-style: none; font-size: 22px;">
                <span  class="nav_mb icon-nav-mb" @click="toggleSidebar" >
                    <b-icon icon="list"></b-icon>
                </span>
                <li>Hệ thống quản lý thông minh</li>
            </ul>
            <ul class="header_navbar-ul" style="display: flex; list-style: none;padding-right: 32px; cursor: pointer;">
                <li @click="$router.push({ name: 'admin.users.profile', params: { id: id } })">
                    <img :src='anh' style="width: 42px;height: 42px;border-radius: 50%; margin-right: 15px;">
                </li>
                <li class="header_navbar-user">
                    <span class="header_navbar-user_span"
                        style="color:#fff; text-decoration: none; margin-top: 8px;font-size: 20px;">
                        {{ ten }}
                        <b-icon icon="chevron-compact-down"></b-icon>
                    </span>
                    <ul class="header__navbar-use-menu">
                        <li class="header__navbar-use-item ">
                            <span @click="logout">Đăng xuất</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="display: flex;">
            <div class="navbar_list" :class="{ 'hiddenSideBar': isOpenSideBar == false }"
                style="background-color: #fff;width: 250px; min-width: 250px;padding-bottom: 490px;">
                <ul style="list-style: none; width: 100%; padding: 0;">
                    <router-link to="/admin/home" style="text-decoration: none; color:#787d8c" active-class="active" exact
                        class="side-btn">
                        <li class="navabar" style="padding: 24px 15px;">
                            <span style="font-size: 20px;">
                                <b-icon icon="card-list" style="margin-right: 10px;"></b-icon>
                            </span>
                            <span class="span_menu">TỔNG QUAN</span>
                        </li>
                    </router-link>
                    <router-link to="/admin/config/list" style="text-decoration: none; color:#787d8c" active-class="active"
                        exact class="side-btn">
                        <li class="navabar" style="padding: 24px 15px; ">
                            <span style="font-size: 20px;">
                                <b-icon icon="card-heading" style="margin-right: 10px;"></b-icon>
                            </span>
                            <span class="span_menu">DANH MỤC</span>
                        </li>
                    </router-link>
                    <router-link to="/admin/product/list" style="text-decoration: none; color:#787d8c" active-class="active"
                        exact class="side-btn">
                        <li class="navabar" style="padding: 24px 15px; ">
                            <span style="font-size: 20px;">
                                <b-icon icon="box-seam" style="margin-right: 10px;"></b-icon>
                            </span>
                            <span class="span_menu">SẢN PHẨM</span>
                        </li>
                    </router-link>
                    <router-link to="/admin/users/list" style="text-decoration: none; color:#787d8c" active-class="active"
                        exact class="side-btn">
                        <li class="navabar" style="padding: 24px 15px; ">
                            <span style="font-size: 20px;">
                                <b-icon icon="file-earmark-person" style="margin-right: 10px;"></b-icon>
                            </span>
                            <span class="span_menu">QUẢN LÝ TÀI KHOẢN</span>
                        </li>
                    </router-link>
                    <router-link to="/admin/order/list" style="text-decoration: none; color:#787d8c" active-class="active"
                        exact class="side-btn">
                        <li class="navabar" style="padding: 24px 15px; ">
                            <span style="font-size: 20px;">
                                <b-icon icon="clipboard" style="margin-right: 10px;"></b-icon>
                            </span>
                            <span class="span_menu">QUẢN LÝ HÓA ĐƠN</span>
                        </li>
                    </router-link>
                </ul>
            </div>
            <div class="index_body" style="margin: 30px 0px 0px 62px; flex: 1;width: 100%;">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ten: '',
            anh: '',
            id: '',
            isOpenSideBar: false
        }
    },
    methods: {
        async logout() {
            localStorage.clear();
            this.$router.push({ name: 'auth.login' })
        },
        toggleSidebar() {
            this.isOpenSideBar = !this.isOpenSideBar
        }
    },
    created() {
        if(window.innerWidth > 739) {
            this.isOpenSideBar = true
        }
        let token = localStorage.getItem("token");
        console.log(JSON.parse(token));
        let tokenObject = JSON.parse(token)
        this.ten = tokenObject.ten
        this.anh = tokenObject.anh
        this.id = tokenObject.id
    },
}
</script>
<style scoped>
.side-btn.active {
    background-color: #f4f6f9;
    color: #000 !important;
    font-weight: 500;
}

.navabar:hover {
    background-color: #f4f6f9;
}

.header_navbar-user {
    position: relative;
    cursor: pointer;
}

.header_navbar-user:hover .header__navbar-use-menu {
    display: block;
}

.header__navbar-use-menu {
    z-index: 1;
    position: absolute;
    padding-left: 0;
    top: 128%;
    right: 0;
    background-color: #Fff;
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e9e9e9;
    text-align: center;
    display: none;
}

.header__navbar-use-item span {
    text-decoration: none;
    color: #787d8c;
    font-size: 16px;
    padding: 15px 16px;
    display: block;
}

.header__navbar-use-item span:hover {
    background-color: #fafafa;
}

.header__navbar-use-menu::before {
    content: "";
    border-width: 16px 12px;
    border-style: solid;
    border-color: transparent transparent var(--bs-body-bg) transparent;
    position: absolute;
    right: 21px;
    top: -28px;
}

.header__navbar-use-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 60%;
    height: 30px;
}

.hiddenSideBar {
    width: 0 !important;
    min-width: 0 !important;
    overflow: hidden;
}
.navbar_list{
    position: none;
}
/*table - mobile*/
@media (min-width: 1023px) and (max-width: 1600px) {
    .home_body{
        height: 100% !important;
    }
    .index_body{
        margin: 0 !important;
        width: 100%;
    }
    .navbar_list{
        position: relative;
        z-index: 1;
    }
    .index_body{
        position: absolute;
        margin: 0 !important;
    }
}

/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
    .home_body{
        height: 100% !important;
    }
    .index_body{
        margin: 0 !important;
        width: 100%;
    }
    .navbar_list{
        position: relative;
        z-index: 1;
    }
    .index_body{
        position: absolute;
        margin: 0 !important;
    }
}

/*mobile*/
@media (max-width:739px) {
    .home_body {
        height: 100% !important;
    }

    .nav_pc {
        display: none;
    }

    .nav_mb {
        display: block !important;
        font-size: 26px;
    }

    .header_navbar-ul {
        margin: 0 !important;
    }
    .index_body{
        position: absolute;
        margin: 0 !important;
    }

    .header_navbar-user {
        padding-top: 8px;
    }

    .header_navbar-user_span {
        font-size: 16px !important;
    }
    .navbar_list{
        position: relative;
        z-index: 1;
    }
}
</style>