<template>
    <div>
        <div class="grip">
            <div style="background-color: #fff; padding: 50px;">
                <div style="padding: 20px 30px;">
                    <div>
                        <router-link to="/admin/users/list" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                            <p style="margin-bottom: 35px;">
                                <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                                Thêm mới người dùng
                            </p>
                        </router-link>
                    </div>
                    <form>
                        <div style="padding-bottom: 22px; ">
                            <label>Tên<span class="text-danger">*</span></label>
                            <input type="text"  placeholder="Nhập tên đăng ký" v-model="users.ten" style="width: 100%;padding: 4px;border-radius: 2px; border: 1px solid #000;">
                        </div>
                        <div style="padding-bottom: 30px; ">
                            <label>Số điện thoại<span class="text-danger">*</span></label>
                          <input type="number" placeholder="Nhập số điện thoại đăng ký" v-model="users.phone" style="width: 100%;padding: 4px;border-radius: 2px; border: 1px solid #000;">
                        </div>
                        <div style="padding-bottom: 30px; ">
                            <label>Địa chỉ<span class="text-danger">*</span></label>
                          <input type="text" placeholder="Nhập địa chỉ đăng ký" v-model="users.diaChi" style="width: 100%;padding: 4px;border-radius: 2px; border: 1px solid #000;">
                        </div>
                        <div style="padding-bottom: 30px; ">
                            <label>ảnh<span class="text-danger">*</span></label>
                          <input type="text" placeholder="Nhập đường link ảnh" v-model="users.anh" style="width: 100%;padding: 4px;border-radius: 2px; border: 1px solid #000;">
                        </div>
                        <div style="padding-bottom: 30px; ">
                            <label>Chức vụ<span class="text-danger">*</span></label>
                            <b-form-select v-model="users.chucVu" style="width: 100%;padding: 4px;border-radius: 2px; border: 1px solid #000;">
                                <option>0</option>
                                <option>1</option>
                            </b-form-select>
                        </div>
                        <div style="padding-bottom: 30px; ">
                            <label>Password<span class="text-danger">*</span></label>
                          <input type="text"  placeholder="Nhập mật khẩu đăng ký" v-model="users.password" style="width: 100%;padding: 4px;border-radius: 2px; border: 1px solid #000;">
                        </div>
                        <b-button style="width: 100%; margin-bottom: 22px;" variant="success" @click="createUser">Đăng Ký</b-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data(){
        return{
            users:{
                ten:"",
                phone:"",
                diaChi:"",
                anh:"",
                chucVu:"",
                password:"",
            },
            imageURL:null
        }
    },
    methods:{
        ...mapActions('user',["CreateUser"]),
        onFilePicked(event){
            const files = event.target.files
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () =>{
                this.imageURL = fileReader.result
            })
            fileReader.readAsDataURL(files[0]);
            this.image = files[0];
        },
        async createUser(){
            Swal.fire({
                title: 'Lưu thay đổi?',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText:'Bỏ qua',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response =  await this.CreateUser(this.users)
                    console.log(response);
                    this.$router.push({name:'admin.users.list'})
                }
            })
        },
    },
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}   
</style>